#record-base{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: 1rem auto;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    width: 90%;
    max-width: 40rem;
    word-wrap: break-word;
}

.checked{
    text-decoration: line-through;
}
#sticky_button{
    background-color: white;
    position: sticky;
    bottom: 5px;
}
#app h1{
    text-align: center;
}

